.container{
    width: auto;
    height:100vh;
    background-color: #14181b;
    color: #b2e2dc;
    display: grid;
    grid-template-rows: 10% 85%;
    row-gap: 2%;
}

.item1{
    padding: 1%;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightslategray;
}

.item2{
    margin: 1%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
}
.item2a, .item2b, .item2c, .item2d{
    border: 1px solid white;
    padding: 2%;
}

.inline{
    display: flex;
    justify-content: left;
    font-size: 150%;
}

h3{
    font-size: 150%;
    font-weight: bold;
}

.main{
    font-size: 300%;
    font-weight: bold;
}

.units{
    font-size: 50%;
}

.inline div{
    margin-right: 5%;
}

.green{
    color: green;
    text-shadow: 0 0 20px 10px green;
}
.red{
    color: red;
    text-shadow: 0 0 20px 10px red;
}