<div class="container">
    <h2 class="item1">ENTERPRISE - PRODUCTION AND INVENTORY</h2>
    <div class="item2">
        <app-shopfloor-model></app-shopfloor-model>
    </div>
    <div class="item3">
            <table>
                <tr>
                  <th colspan="4">Make to Stock Machines</th>
                </tr>
                <tr *ngFor="let machine of mts">
                  <td>{{machine.name}}</td>
                  <td>
                    <i class="fa-solid fa-power-off" [ngStyle]="{ color: getColour(machine.powerStatus) }"></i>
                  </td>
                  <td>
                    <i class="fa-solid fa-bolt-lightning" [ngStyle]="{color: getColour(machine.electricalStatus)}"></i>
                  </td>
                  <td>
                    <i class="fa-regular fa-trash-can" [ngStyle]="{color: getColour(machine.disposalStatus)}"></i>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <th colspan="4">Smart Engineering System(SES)</th>
                </tr>
                <tr *ngFor="let machine of ses">
                  <td>{{machine.name}}</td>
                  <td>
                    <i class="fa-solid fa-power-off" [ngStyle]="{color: getColour(machine.powerStatus)}"></i>
                  </td>
                  <td>
                    <i class="fa-solid fa-bolt-lightning" [ngStyle]="{color: getColour(machine.electricalStatus)}"></i>
                  </td>
                  <td>
                    <i class="fa-regular fa-trash-can" [ngStyle]="{color: getColour(machine.disposalStatus)}"></i>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <th colspan="4">Make to Order Machines</th>
                </tr>
                <tr *ngFor="let machine of mto">
                  <td>{{machine.name}}</td>
                  <td>
                    <i class="fa-solid fa-power-off" [ngStyle]="{ color: getColour(machine.powerStatus) }"></i>
                  </td>
                  <td>
                    <i class="fa-solid fa-bolt-lightning" [ngStyle]="{color: getColour(machine.electricalStatus)}"></i>
                  </td>
                  <td>
                    <i class="fa-regular fa-trash-can" [ngStyle]="{color: getColour(machine.disposalStatus)}"></i>
                  </td>
                </tr>
              </table>
    </div>
</div>