.container{
    width: auto;
    height:100vh;
    background-color: #14181b;
    color: #b2e2dc;
    display: grid;
    grid-template-rows: 10% 48% 43%;
}

.item1{
    padding: 1%;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightslategray;
}

.item2, .item3{
    margin: 1%;
}

.item3{
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 30%;
    height: 100%;
  }

  td, th {
    border: 1px solid grey;
    text-align: center;

  }
  
  td:first-child {
    width: 55%;
  }
  
  td:nth-child(2), td:nth-child(3), td:nth-child(4) {
    width: 15%;
  }
  
  table tr:nth-child(even) {
    background-color: #20252a;
  }
  table tr:nth-child(odd) {
    background-color: #1a1f22;
  }
  table tr:first-child {
    background-color: #15191c;
  }