<div class="container">
    <h2 class="item1">MANAGEMENT KPI</h2>
    <div class="item2">
        <div class="item2a">
            <h3>map</h3>
        </div>
        <div class="item2b">
            <h4>DELIVERY PROGRESS</h4>
            <ul>
                <li *ngFor="let delivery of deliveries">
                    <app-delivery-progress [delivery]="delivery"></app-delivery-progress>
                </li>
            </ul>
        </div>
    </div>
    <h3>ORDER STATUS SUMMARY</h3>
    <div class="item3">
        <div class="item3a">
            
        </div>
        <div class="item3b">
        </div>
    </div>
</div>