.container{
    display: grid;
    grid-template-columns: 18% 78%;
    border-bottom: 1px solid grey;
    width: 98%;
}
.subcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.deliveryBar{
    background-color: white;
    color: black;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pickup{
    color: rgb(0, 102, 255);
}