<div>
    <table>
        <tr>
            <th class="col1">Sales Order No.</th>
            <th class="col2">{{ processCustomer }}</th>
            <th class="col3">Progress</th>
            <th class="col4">Last Updated</th>
        </tr>
        <ng-container *ngIf="processCustomer=='Customer Name'">
            <tr *ngFor="let order of customerNameOrders">
                <td>{{order.orderNumber}}</td>
                <td>{{order.customerName}}</td>
                <td>{{order.progress}}</td>
                <td>{{order.lastUpdated}}</td>
            </tr>
        </ng-container>
        <ng-container *ngIf="processCustomer=='Process Stage'">
            <tr *ngFor="let order of processOrders">
                <td>{{order.orderNumber}}</td>
                <td>{{order.processName}}</td>
                <td>{{order.progress}}</td>
                <td>{{order.lastUpdated}}</td>
            </tr>
        </ng-container>
    </table>
</div>