<div class="container">
        <h2 class="item1">ENTERPRISE - PRODUCTION AND INVENTORY</h2>
        <div class="item2">
            <h3>Inventory Performance</h3>
                <table>
                    <tr>
                        <th class="col1"></th>
                        <th class="col2">Fill Rate</th>
                        <th class="col3">Turns</th>
                        <th class="col4">Value</th>
                    </tr>
            
                    <tr>
                        <td>Overall</td>
                        <td>
                            <app-progress-bar category="overall" performanceType="fill"></app-progress-bar>
                        </td>
                        
                        <td>
                            <app-progress-bar category="overall" performanceType="turns"></app-progress-bar>
                        </td>
                        
                        <td>
                            <app-progress-bar category="overall" performanceType="value"></app-progress-bar>
                        </td>
                    </tr>
                    <tr>
                        <td>Semi Finished (MTS)</td>
                        <td>
                            <app-progress-bar category="semifinished" performanceType="fill"></app-progress-bar>

                        </td>
                        <td>
                            <app-progress-bar category="semifinished" performanceType="turns"></app-progress-bar>
                        </td>
                        <td>
                            <app-progress-bar category="semifinished" performanceType="value"></app-progress-bar>
                        </td>
                    </tr>
                    <tr>
                        <td>Raw Materials</td>
                        <td>
                            <app-progress-bar category="raw" performanceType="fill"></app-progress-bar>
                        </td>
                        <td>
                            <app-progress-bar category="raw" performanceType="turns"></app-progress-bar>
                        </td>
                        <td>
                            <app-progress-bar category="raw" performanceType="value"></app-progress-bar>
                        </td>
                    </tr>
            
            
                </table>

        </div>
        <div class="item3">
            <h3 class="item3a">Production Performance</h3>
            <div class="item3b">
                <div class="canvasHolder"><app-performance-graph [data]="delayData"></app-performance-graph></div>
                <div class="canvasHolder"><app-performance-graph [data]="defectData"></app-performance-graph></div>
            </div> 

        </div>


</div>
