.container{
    width: auto;
    height:100vh;
    background-color: #14181b;
    color: #b2e2dc;
    display: grid;
    grid-template-rows: 10% 43% 43%;
    row-gap: 2%;
}

.item1{
    padding: 1%;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightslategray;
}

.item2{
    margin: 1%;
    border: 1px solid white;
}

.item3{
    margin: 1%;
    border: 1px solid white;
}

.col1, .col2, .col3, .col4{
    width:25%;
}


table{
    margin: auto;
    width:95%;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid lightslategray;
    text-align: left;
}

th, td{
    padding: 15px;
}

th{
    color: lightslategray;
}

td{
    color: white;
}

.fillrate-progress-bar, .turns-progress-bar{
    background: linear-gradient(to right, red 0%, yellow 80%, green 90%);
    border: 1px solid white;
    min-height: 10px;
}




