<body>

  <h1>{{ title }}</h1>

  <nav class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Production Tracking 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="production-tracking">Production Tracking</a>
        <a routerLink="production-tracking-b">Production Tracking B</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Resource Tracking 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="resource-tracking">Resource Tracking</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Production Inventory 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="production-inventory">Production Inventory</a>
        <a routerLink="production-inventory-b">Production Inventory B</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Resource Health 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="resource-health">Resource Health</a>
        <a routerLink="resource-health-b">Resource Health B</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Management KPI 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="management-kpi">Management KPI</a>
        <a routerLink="management-kpi-b">Management KPI B</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Customer Satisfaction 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="customer-satisfaction">Customer Satisfaction</a>
        <a routerLink="customer-satisfaction-b">Customer Satisfaction B</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Logistics Tracking 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="logistics-tracking">Logistics Tracking</a>
        <a routerLink="logistics-tracking-b">Logistics Tracking B</a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
  
</body>