<div class="container">
    <div class="item1">
        <p>Machine:</p>
        <p>Process:</p>
        <p>Status:</p>
        <p>Updated:</p>
        <p>Progress:</p>
        <p>Work Order Reject Rate:</p>
        <p>Projected Work Order Completion:</p>
        <p>"Completion date"</p>
    </div>

    <div class="item2">
        <p>Customer Name:</p>
        <p>Sales Order Completion Time:</p>
    </div>

    <div class="item3">
        <p>Sales Order Production Progress:</p>
        <p>Percentage</p>
        <p>Progress Bar</p>
    </div>

    <div class="item4">
        <p>Projected Sales Order Production Completion</p>
        <p>"Lateness"</p>
        <p>Notification Status:</p>
        <p>"Status"</p>
    </div>
</div>
