.container{
    display: grid;
    grid-template-columns: 5% 95%;
    width: auto;
    height:100vh;
    background-color: #14181b;
}

.item1{
    background-color: #25343F;
}

.item2{
    margin: 1%;
    color: #b2e2dc;
    display: grid;
    grid-template-rows: 10% 43% 43%;
    row-gap: 2%;
}

.item2a{
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightslategray;
}

.item2b{
    border: 1px solid white;
    background: linear-gradient(to right, #25292e 0%, #25292e 14%, #212528 14%, #212528 70.5%, #25292e 70.5%, #25292e 100%);
    display: grid;
    grid-template-rows: 12% 85%;
    grid-row-gap: 4%;
}

.item2c{
    border: 1px solid white;
}

h3, h4{
    padding-left: 1%;
}

.headers{
    display: grid;
    grid-template-columns: 14% 56.5% 29.5%;
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom: 0;
}
svg{
    height: 100%;
    width: 100%;
}

