<div class="container">
    <h2 class="item1">ENTERPRISE - PRODUCTION AND INVENTORY</h2>
    <div class="item2">
        <h3>Inventory Performance</h3>
        <table>
            <tr>
                <th class="col1"></th>
                <th class="col2">Fill Rate</th>
                <th class="col3">Turns</th>
                <th class="col4">Value</th>
            </tr>

            <tr>
                <td>Overall</td>
                <td>
                    <app-progress-bar category="overall" performanceType="fill"></app-progress-bar>
                </td>
                
                <td>
                    <app-progress-bar category="overall" performanceType="turns"></app-progress-bar>
                </td>
                
                <td>
                    <app-progress-bar category="overall" performanceType="value"></app-progress-bar>
                </td>
            </tr>
        </table>
    </div>
    <div class="item3">
        <h3 class="item3a">Overall Production Performance</h3>
        <div class="item3b">
            <circle-progress
                [percent]="90"
                [showZeroOuterStroke]="true"
                [animation]="true"
                [animationDuration]="300"
                [showUnits]="true"
                [showBackground]="true"
                [clockwise]="true"
                [responsive]="true"
                [startFromZero]="true"
                [subtitleFontSize]="'15'"
                [subtitle]="'Delayed Work Order'"
                [unitsFontSize]="'15'"
                [titleColor]="'#FDB900'"
                [unitsColor]="'#FDB900'">
            </circle-progress>
            <circle-progress
                [percent]="10"
                [showZeroOuterStroke]="true"
                [animation]="true"
                [animationDuration]="300"
                [showUnits]="true"
                [showBackground]="true"
                [clockwise]="true"
                [responsive]="true"
                [startFromZero]="true"
                [subtitleFontSize]="'15'"
                [subtitle]="'Overall Defect Rate'"
                [unitsFontSize]="'15'"
                [titleColor]="'#FDB900'"
                [unitsColor]="'#FDB900'">
            </circle-progress>
        </div> 
    </div>
</div>