.container{
    width: auto;
    height: 100vh;
    background-color: #14181b;
    color: #b2e2dc;
    display: grid;
    grid-template-rows: 10% 42% 42%;
    row-gap: 2%;
}

.item1{
    padding: 1%;    
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightslategray;
}

.item2{
    margin: 1%;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 48vw 48vw;
}

.item2a{
    display: grid;
    grid-template-columns: 45% 15% 30%;
    grid-column-gap: 4%;
    border: 1px solid white;
}

.item3 h3{
    margin-left: 2%;
}
.doughnut, .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.large{
    font-size: 150%;
    font-weight: bold;
    
}

.gap-less p{
    margin: 10%;
}

.item2b{
    display: grid;
    grid-template-columns: 2% 98%;
}
.revenue{
    margin-top: 1%;
}

.productSatisfaction{
    height: 80%;
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 0;
}