.container{
    width: auto;
    height:100vh;
    background-color: #14181b;
    color: #b2e2dc;
    display: grid;
    grid-template-rows: 10% 44% 44%;
    row-gap: 2%;
}

.item1{
    padding: 1%;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightslategray;
}

.item2{
    margin: 1%;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 50% 50%;
}

.item2a{
    display: grid;
    grid-template-columns: 45% 15% 30%;
    grid-column-gap: 4%;
    border: 1px solid white;
}

app-performance-graph, .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.large{
    font-size: 150%;
    font-weight: bold;
    
}

.gap-less p{
    margin: 10%;
}