<div>
    <table>
        <tr>
            <th class="col1">Sales Order No.</th>
            <th class="col2">{{ processCustomer }}</th>
            <th class="col3">Progress</th>
            <th class="col4">Last Updated</th>
        </tr>
        
        <!-- <div *ngIf="processCustomer=='Customer Name'"> -->
        <!-- <div *ngIf="processCustomer=='Process Stage'"> -->

        <tr> <!--Sample Sales Order-->
            <td>ET-19-0002</td>
            <td>TOUR VIP</td>
            <td>100%</td>
            <td>10:01</td>
        </tr>

        <tr> <!--Sample Sales Order-->
            <td>ET-19-0001</td>
            <td>VIP GUEST</td>
            <td>100%</td>
            <td>10:03</td>
        </tr>

    </table>
</div>